---
import Layout from '../../../layouts/Layout.astro';
import ky from 'ky';
import type { Data } from '../../../interfaces';
// import type { Tables } from '../../../types';
import TableRows from '../../../components/TableRows.svelte';
import { Database } from '@lucide/svelte';
import Tables from '../../../components/Tables.svelte';
// console.log('Astro url => ', Astro.url.origin)

const { table } = Astro.params;
// console.log('astro params => ', Astro.params)

// let tables = [];
// let rows = [];

// const response = await fetch(`${Astro.url.origin}/api/read/tables`);
// const tables = await response.json();

// const responseRows = await fetch(`${Astro.url.origin}/api/read/${table}`);
// const rows = await responseRows.json();
// console.log(rows);
---

<Layout>
  <section class="grid grid-cols-12">
    <div
      class="col-span-3 px-2 py-4 bg-neutral-100 w-full min-h-screen overflow-y-auto"
    >
      <Tables client:only="svelte" />
    </div>
    <div class="col-span-9 px-2 py-4 bg-neutral-50 w-full min-h-screen">
      <TableRows table={table} client:only="svelte" />
    </div>
  </section>
</Layout>
